<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple">
    <style>
      h1 {
        font-family: 'Tangerine', serif;
        font-size: 48px;
      }
    </style>

<div style="text-align:center"> 
    <img width="70" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  
  <h1>
    Welcome to {{ title }}!
    Google Maps with AGM in Angular
  </h1>
</div>

<div #mapContainer id="map">
  
  <!-- <agm-info-window>
    <div class="card agm-info-card">
      <div class="card-header">
        <h5> <i class="fa fa-info-circle"></i> Infos</h5>
      </div>

      <div class="card-body">
        <table class="table table-borderless table-sm">
          <tbody>
            <tr>
              <td>Encomendas Selecionadas</td>
              <th scope="row"> <span style="color: green;"> 2 </span></th>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="card agm-info-card">
      <div class="card-header">
        <h5> <i class="fa fa-car"></i> Giro </h5>
      </div>

      <div class="card-body">
        <table class="table tb-borderT-none table-sm">
          <tbody clas>
            <tr>
              <td>Cliente</td>
              <td class="text-bold"> Coxe Bernardo</td>
            </tr>

          </tbody>
        </table>
        <hr>

        <button *ngIf="m.planeamento_id == null || editarPlaneamento == true " type="button"
          class="btn btn-link btn-outline-default btn-xs pull-right" data-dismiss="modal"
          (click)="getProdutosEncomenda(m);">
          Selecionar Encomenda
        </button>
      </div>
    </div>
  </agm-info-window> -->


</div>

<!-- <agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map> -->

<router-outlet></router-outlet>
